.navbar-container {
  margin-bottom: 50px;
}

.description-container {
  border: 15px solid #FFFFFF;
  height: 500px;
  color: whitesmoke;
  font-size: 20px;
  background-image: url("../images/marble-bg.jpg");
  opacity: 0.7; 
}

.carousel-inner {
  width:100;
  height: 500px;
}

.carousel-container img{
  max-width: 100%;
  max-height: 100%;
}

.footer-container {
  padding: 0px;
  max-height: 220px;
  max-width: 100%;
  background-color: grey;
}

.footer-info {
  float: left;
  max-width: 50%;
  padding: 10px;
  margin: auto;
}

a {
  color: black;
}

#telephone, #email, #address {
  padding: 5px;
  margin: 12px;
}

.footer-gmap {
  padding: 8px 2px;
  float: right;
  text-align: center;
  max-width: 50%; 
  max-height: 100%;
  border-left: 1px solid black;
}